@use "./variables";

@mixin day-color {
  color: #1a1a1a;
    img {
      filter: invert(100%);
    }
}

@mixin night-color {
  color: #fff;
  img {
    filter: invert(0%)
  }
}

@mixin liquid-glass-card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.2);
}

@mixin liquid-glass-filter {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  z-index: 1;
  backdrop-filter: blur(10px);
  filter: url("glass-distortion.svg") saturate(120%) brightness(1.15);
}

@mixin liquid-glass-distortion-overlay {
  position: absolute;
  inset: 0;
  background: radial-gradient(
      circle at 20% 30%,
      rgba(255, 255, 255, 0.15) 0%,
      transparent 80%
    ),
    radial-gradient(
      circle at 80% 70%,
      rgba(255, 255, 255, 0.15) 0%,
      transparent 80%
    );
  background-size: 300% 300%;
  animation: floatDistort 10s infinite ease-in-out;
  mix-blend-mode: overlay;
  z-index: 2;
  pointer-events: none;
}

@keyframes floatDistort {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@mixin liquid-glass-overlay {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  z-index: 2;
  background: var(variables.$liquid-bg-color);
}

@mixin liquid-glass-specluar {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  z-index: 3;
  box-shadow: inset 0px 0px 5px #{variables.$liquid-highlight};
}
