.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;

    input {
        display: inline-block;
        width: 50%;
        height: 4rem;
        margin: 2rem auto;
        padding: 1rem;
        font-size: 1.6rem;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        outline: none;
        border: none;

        @media (max-width: 768px) {
            width: 80%;
        }

        &:focus {
            outline: none;
            border: none;
        }
    }

    .autocomplete-container {
        position: absolute;
        top: 60px;
        background-color: #fff;
        width: 50%;
        padding: 1rem .8rem;
        padding-top: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        z-index: 10;

        @media (max-width: 768px) {
            width: 80%;
        }

        ul, li {
            list-style: none;
            font-size: 1.6rem;
            padding: 0;
        }
        li {
            max-width: 500px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: .8rem;
            cursor: pointer;
        }
    }

    &:has(.autocomplete-container) {
        input {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }
}