@use "./mixins";

.current-weather-wrapper {
  @include mixins.liquid-glass-card;
  margin: 5rem auto 3rem auto;
  color: #fff;
  max-width: 90%;
}

.liquid-glass-filter {
  @include mixins.liquid-glass-filter;
}

.liquid-glass-overlay {
  @include mixins.liquid-glass-distortion-overlay;
}

.liquid-glass-specluar {
  @include mixins.liquid-glass-specluar;
}

.current-weather-container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.6rem;

  &__location {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    h2 {
      font-size: 2.5rem;
    }
  }

  .current-weather-data-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    font-size: 1.8rem;

    img {
      height: 4rem;
    }

    &__temperature,
    &__rain {
      display: flex;
      align-items: center;
      gap: 1rem;

      div {
        display: flex;
        flex-direction: column;
        // gap: .5rem;
      }
    }

  }
}

.hourly-weather-container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 1.6rem;

  .hourly-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    span {
      display: inline-block;
      font-size: 1.6rem;

      &:first-child {
        font-weight: 600;
      }

      &:last-child {
        font-weight: 500;
      }
    }
  }
}
