.forecast-data-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.precipitation-container,
.wind-container,
.sunrise-container,
.sunset-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  h3,
  span {
    font-size: 1.4rem;
  }
}
