@use "./styles/mixins";

main {
  width: 100%;
  min-height: 100vh;
  padding: 1.5rem;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  &.sunrise {
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    @include mixins.day-color;
  }

  &.day {
    background: linear-gradient(135deg, #56ccf2, #2f80ed);
    @include mixins.day-color;
  }

  &.sunset {
    background: linear-gradient(135deg, #ff758c, #7a3eb1);
    @include mixins.night-color;
  }

  &.night {
    background: linear-gradient(110deg, #0c131e, #2c4767);
    @include mixins.night-color;
  }
}

@supports (padding: max(0px)) {
  main {
    padding: max(1.5rem, env(safe-area-inset-top))
      max(1.5rem, env(safe-area-inset-right))
      max(1.5rem, env(safe-area-inset-bottom))
      max(1.5rem, env(safe-area-inset-left));
  }
}
